.board {
    /* flex does the following:
    - lets me arrange items horizontally instead of vertically.
    */
    display: flex;
    gap: 16px; /* puts 16px space between flex items */
    padding: 16px; /* space between edge of webview & columns */
}

.column {
    flex: 1; /* each column takes equal share of the row. */
    min-width: 0; /* allows column to shrink as required. (whatever that means) */
}

/* card compelted styling: */
.card.completed {
    opacity: 0.5; /* make entire card 50% transparent */
    text-decoration: line-through; /* strikethrough */
}

/* baseline card styling: */
.card {
    background: #2d2d2d;
    border: 1px solid #444;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 8px;
}

.card h3[contenteditable="true"]:focus {
    outline: 2px solid #007acc;
    outline-offset: 2px;
    border-radius: 2px;
}

.card p.description[contenteditable="true"]:empty::before {
    content: 'Add a description...';
    opacity: 0.5;
    font-style: italic;
}

/* changes the cursor when hovering over the title */
/* the h3 means when I click on the 'h3' part of the card, or the text. */
.card h3 {
    cursor: text;
}

.placeholder {
    opacity: 0.5;
    font-style: italic;
    /* size: 2em; */ /* maybe not include this, should already be styled... */
}